h1 {
    text-align: center;
    color: black;
    font-family: "Cinzel", serif;
    font-size: 38px;
    clear: both;
    padding-top: 20px;
}

h2 {
    color: black;
    font-family: "Cinzel", serif;
    font-size: 37px;
    clear: both;
    padding-top: 20px;
    margin-left: 10px;
}

p {
    color: black;
    font-family: "Lora", serif;
    font-size: 17px;
    padding-right: 150px;
}

.imagem {
    width: 250px;
    height: auto;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.inicio {
    color: black;
    font-family:"Lora", serif; 
    font-size: 20px;
    padding-left: 40px;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    font-family: "Lora", serif;
    font-size: 18px;
}

#menu a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#menu a:hover {
    color: #1a2536;
    border-bottom: 2px solid #c9a063;
}

body {
    background-color: #d5c8b9;
    overflow-x: auto;
    margin: 0;
}

nav {
    background-color: #8a6f4d;
    padding: 10px;
}

header h1 {
    text-align: center;
    margin: 0 0 15px;
    font-family: "Caesar dressing", serif;
    font-size: 30px;
}

header {
  background-color: #c7b6a2;
  padding-top: 10px;
}

#shimeji {
    position: fixed;
    bottom: 0;
    left: 100px;

    width: 96px;

    user-select: none;
    cursor: grab;

    z-index: 999999;

    transition: transform 0.15s linear;
}

footer {
    background-color: #c7b6a2;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    clear: both;
}

footer p {
    margin: 0;
}
